/* You can add global styles to this file, and also import other style files */


@import 'variables.scss';

/*add our own global styles here*/


.topMargin{
    margin-bottom: 100px;
  }

  h1,h2{
  color: $theme-color;
  text-align: center;
  }


