// $theme-color: #28bdb5;
$theme-color: green;
$dashboard-color: #fff;
$font-stack:'Oxygen',sans-serif;
$theme-color-light: #a3011840;
$desktop: 1024px;
$tablet-custom-width: 870px;
$tablet: 768px;
$mobile: 320px;
$secondary-font-color: #26a599;