<nav class="navbar fixed-top navbar-expand-lg navbar-light bgTheme">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.ico" width="40" height="40" alt=""> JOBTEAM KONSULT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="nav navbar-nav">
            <li class="nav-item active" *ngFor="let n of navs" routerLinkActive="rActive">
                <a class="nav-link" [routerLink]="n.routerLink" (click)="closeNavBar()">{{n.title}}
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item active" >
                <a class="nav-link" style="cursor: pointer" (click)="print()">Spara Pdf
                </a>
            </li>

            <!-- <li class="nav-item active" >
                <a class="nav-link" style="cursor: pointer" (click)="onLogout()">Logout
                    <span class="sr-only">(current)</span>
                </a>
            </li> -->

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" style="color:black !important" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logout<span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color:#4aa23a">
                  <li><a class="nav-link" style="cursor: pointer;color:black !important" (click)="onLogout()">Logout</a>
                  </li>
                </ul>
              </li>
        </ul>


    </div>
</nav>