<div class="container">

    <h2>{{isAdmin?'Home':'Previous Attendance'}}</h2>

    <div class="row" style="margin-top:20px">

        <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <label for="group">Select Group</label>
                <select class="form-control" [(ngModel)]="selectedGroup" (change)="onGroupChange()">
                    <option *ngFor="let g of groups" [ngValue]="g">{{g.group_name}} ({{g.address_name}}) </option>
                </select>
            </div>
        </div>

        <div *ngIf="selectedGroup" class="col-sm-12 col-md-6">

            <div class="form-group">
                <label for="data">Select a Date to view Attendance </label>
                <select class="form-control" [(ngModel)]="selectedDate" (change)="onDateChange()">
                    <option *ngFor="let d of dates" [value]="d.date">{{d.date}}</option>
                </select>
                <p *ngIf="dates?.length==0" style="color:red">No Dates available</p>
            </div>
        </div>
    </div>

    <div style="margin-top:25px">

        <div style="margin-bottom:20px">
            <div *ngIf="grpAttendance">
                <button class="btn btn-default" (click)="onGrpInfoBtn()">View Group Info </button>
            </div>
            <div *ngIf="grpDetailInfo && selectedDate && dates?.length!==0">
                <button class="btn btn-default" (click)="onGrpAttendanceBtn()">View Group Attendance</button>
            </div>
        </div>

        <div *ngIf="grpDetailInfo && !grpAttendance">
            <h3 style='color:#4aa23a'>Group Information</h3>
            <div class="detail">
                <h5>Group Name: {{grpDetailInfo.group_name}}</h5>
                <h5>Teachers: {{grpDetailInfo.teachers.join(',')}}</h5>
            </div>
            <div style="margin-top:20px">
                <h4> Student List</h4>

                <div class="table-responsive">
                    <table class="table  table-striped table-bordered">

                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Student Name</th>
                                <th scope="col">Course Completed</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let g of grpDetailInfo.students; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{g.name}}</td>
                                <td>{{g.completed}}</td>
                            </tr>
                            <div *ngIf="grpDetailInfo.students.length==0">
                                <h4>Group's Students Info Not Avaiable</h4>
                            </div>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="grpAttendance">
        <app-people-list-admin [grpAttendance]="grpAttendance"></app-people-list-admin>
    </div>
</div>