@import '../../../sass/variables.scss';

// .table tr.active td {
//     background-color: $secondary-font-color !important;
//     color: white;
//   }
 

tbody{

tr:hover{
      cursor: pointer;
  }
}

.detail{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #dee2e6;
  border: 1px dotted black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: inherit;
}
