<div class="container">
    <div class="wrapper">
      <form name="Login_Form" class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3 class="form-signin-heading"> Please Login to Continue </h3>
        <hr class="colorgraph">
        <br>

        <div style="margin-bottom: 15px" class="input-group">
          <input id="login-username" type="text" class="form-control" style="width:auto" formControlName="username" name="username" placeholder="Användarnamn" autofocus> 
          <nl-show-errors [control]="username"></nl-show-errors>
        </div>

        <div style="margin-bottom: 30px" class="input-group">
          <input id="login-password" type="password" class="form-control" style="width:auto" formControlName="password" name="password" placeholder="Password">
          <nl-show-errors [control]="password"></nl-show-errors>
        </div>

        <div style="color:red" *ngIf="invalidCredentials">
        <p>Username or password is invalid.</p>
        </div>
        
        <button type="submit" #btnLogin class="btn btn-lg btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
  