<div class="container">

    <button class="btn btn-default" (click)="routeBack()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
    </button>

    <div class="detail">
        <h5>Deltagare:
            <span>{{person?.name}}</span>
        </h5>
        <h5>Group Name:
            <span>{{personGroupName}}</span>
        </h5>
    </div>

    <h6>Please sign below</h6>


    <div id="signature" style="border: 3px dotted">
    </div>


    <div class="row justify-content-center" style="margin-top:30px">
        <div class="col-6">
            <button type="button" style="width:100%" class="btn btn-default" (click)="onResetBtn()">Reset</button>
        </div>
        <!-- <div class="col-6">
            <button type="button" style="width:100%" class="btn btn-primary" (click)="onPreviewBtn()">Show Preview</button>
        </div> -->
        <div class="col-6">
            <button type="button" style="width:100%" class="btn btn-success" (click)="onSave()">Save</button>
        </div>
    </div>

    <!-- <div *ngIf="signString" style="margin-top:15px">
        <h6>Preview</h6>
        <img [src]="signString" alt="Signature Preview">
    </div> -->

    
    <!-- <div *ngIf="signString" class="row justify-content-center" style="margin-top:20px;margin-bottom:10px">
            <div class="col-6">
                <button type="button" style="width:100%" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" style="width:100%" class="btn btn-success" (click)="onSave()">Save</button>
            </div>
        </div> -->

</div>