<div class="container">

    <button class="btn btn-primary" routerLink="../">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>

    <h1>Skapa ny Message</h1>
    <div style="margin-top:5%;margin-bottom:5%">
        <form name="filterForm" [formGroup]="absentMessageForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label for="address">Message</label>
                <input type="text" class="form-control" formControlName="message" placeholder="Enter Message">
                <nl-show-errors [control]="message"></nl-show-errors>
            </div>

            <button type="submit" style="width:100%;margin-top:8%;background:#4aa23a;color:black" [disabled]="!absentMessageForm.valid"
                class="btn btn-lg ">Submit</button>

        </form>
    </div>
</div>